body{
    font-family: Lato, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: rgb(29, 27, 27)
}
.inputbox{
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 15px;
    width: 20%;
    margin: auto;
    margin-top: 3em;
}
input{
    border-radius: 5px;
}      
button{
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    color: white;            
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}
.list{
    height: 290px;
    width: 20%;
    background-color: white;
    border-color: 2px solid black;
    margin-left: 3em;
    margin-top: 3em;
    border-radius: 30px;
} 
h3{
    text-align: center;
}

